app/src/index.pug
//
   Created by Paul Malyarevich on 4/23/2017.

doctype html
html(lang="en")
    head
        block meta
            meta(charset='utf-8')
            meta(http-equiv='X-UA-Compatible', content='IE=edge')
            meta(name='description', content='')
            meta(name='viewport', content='width=device-width, initial-scale=1')
        title My Site - #{title}
        block styles
            link(rel="stylesheet"
                href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
                integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
                crossorigin="anonymous")
            link(rel="stylesheet" type="text/css" href='/sellit/node_modules/font-awesome/css/font-awesome.css')
            link(rel='stylesheet' type='text/css' href='./css/style.css')
        block scripts
            script(src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous")
            require('bootstrap')
            require('font-awesome')
    body
        .wrapper
            block header
                .header.col-12
                    .logo.col-12.col-sm-6.col-md-3.col-lg-1
                        a(href="/sellit/app/dist/index.html"): img(src='./img/logo.png')
                    .search.col-12.col-sm-6.col-md-5.col-lg-6
                        .search-box
                            .search-box__icon
                                span.fa.fa-search
                            input.search-box__text(placeholder="Try find something" type="text")
                    .user-block.col-12.col-md-4.col-lg-3
                        .user-box
                            img.user-box__avatar(src="./img/91.png" alt="91")
                            .user-box__full-name.
                                Kim Evans
                            .user-box__sign-out
                                button.user-box__btn(href="#logout")
                                    span.fa.fa-sign-out

            block content
                .content.col-12
                    .slider.col-12.col-sm-8
                        .slider__img-area
                            img.img-fluid(src="./img/sli-img.png" alt="sli")
                        .slider__nav-area.slider__nav-area--right
                            span.align-middle.slider__nav-arr.fa.fa-long-arrow-right
                    .about.col-12.col-sm-4
                        .about__title.
                            Some title text must be here maybe second line
                        .about__value
                            .about__from.col-4.col-sm-6.col-md-2 from
                            .about__from--name.col-4.col-sm-6.col-md-4 Alis Kim
                            .about__price.col-4.col-sm-12.col-md-6.
                                18000$
                        .about__text
                            p.
                                Some description text from WYSIWYG editer<br/>
                                <br/>
                                Can be BOLD Italic<br/>
                                <br/>
                                Can have  list:<br/>
                                 - first<br/>
                                 - second<br/>
                                And anything from WYSIWYG editor<br/>
                                <br/>
                                Some line<br/>
                                Some line<br/>
                                Some  line<br/>
                                <br/>
                                Finished on this line.
                //- NEXT TIME
                    .chat
                        .chat__header
                            .chat__title.
                                Chat
                            .chat__title--sub-title.
                                with
                            .chat__title--blue-title.
                                Alis Kim
                            .chat__status
                        .chat__box
                            .chat__message.chat__message--left
                                img.chat__avatar(src="./img/78.png" alt="78")
                                .chat__text.
                                    One line chat message
                        .connected
                            .connected__title.
                                Connected
                            .connected__users
                                .user
                                    img.user__avatar(src="./img/78.png" alt="78")
                                    .user__full-name.
                                        Alis Kim
                                .user
                                    img.user__avatar(src="./img/91.png" alt="91")
                                    .user__full-name.
                                        Kim Evans
            block footer
                .footer.col-12
                    .footer__content
                        p.
                            2017 - front-end labs Light IT

app/dist/index.html
<!--Created by Paul Malyarevich on 4/23/2017.
--><!DOCTYPE html><html lang="en"><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="description" content=""><meta name="viewport" content="width=device-width, initial-scale=1"><title>My Site - </title><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"><link rel="stylesheet" type="text/css" href="/sellit/node_modules/font-awesome/css/font-awesome.css"><link rel="stylesheet" type="text/css" href="./css/style.css"><script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script><require bootstrap></require><require font-awesome></require></head><body><div class="wrapper"><div class="header col-12"><div class="logo col-12 col-sm-6 col-md-3 col-lg-1"><a href="/sellit/app/dist/index.html"><img src="./img/logo.png"></a></div><div class="search col-12 col-sm-6 col-md-5 col-lg-6"><div class="search-box"><div class="search-box__icon"><span class="fa fa-search"></span></div><input class="search-box__text" placeholder="Try find something" type="text"></div></div><div class="user-block col-12 col-md-4 col-lg-3"><div class="user-box"><img class="user-box__avatar" src="./img/91.png" alt="91"><div class="user-box__full-name">Kim Evans</div><div class="user-box__sign-out"><button class="user-box__btn" href="#logout"><span class="fa fa-sign-out"></span></button></div></div></div></div><div class="content col-12"><div class="slider col-12 col-sm-8"><div class="slider__img-area"><img class="img-fluid" src="./img/sli-img.png" alt="sli"></div><div class="slider__nav-area slider__nav-area--right"><span class="align-middle slider__nav-arr fa fa-long-arrow-right"></span></div></div><div class="about col-12 col-sm-4"><div class="about__title">Some title text must be here maybe second line</div><div class="about__value"><div class="about__from col-4 col-sm-6 col-md-2">from</div><div class="about__from--name col-4 col-sm-6 col-md-4">Alis Kim</div><div class="about__price col-4 col-sm-12 col-md-6">18000$</div></div><div class="about__text"><p>Some description text from WYSIWYG editer<br/>
<br/>
Can be BOLD Italic<br/>
<br/>
Can have  list:<br/>
 - first<br/>
 - second<br/>
And anything from WYSIWYG editor<br/>
<br/>
Some line<br/>
Some line<br/>
Some  line<br/>
<br/>
Finished on this line.</p></div></div></div><div class="footer col-12"><div class="footer__content"><p>2017 - front-end labs Light IT</p></div></div></div></body></html>
